<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello flask</title>
</head>
<body>
    <!--CTRL C + CTRL V will help you make duplicate lines beneath if u do it at the end of the code lne-->
    <nav>
        <ul>
            <li> <a href="{{url_for('index')}}">Home</a></li>
            <li> <a href="{{url_for('about')}}">About</a></li>
   
    </ul>

    </nav>
    <h1>About Page</h1>
</body>
</html>